@charset "UTF-8";
.mobile-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 0px 0px;
}

.menu-lg ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-lg ul li {
  margin: 20px 20px;
}

.menu-lg ul a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.menu-lg > li > a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  display: block;
}

.overlayMenu ul li a:hover,
.overlayMenu ul li a:active,
.overlayMenu ul li a:focus {
  background: rgba(255, 255, 255, 0.01);
  -webkit-transform: translateX(-2px);
  transform: translateX(-2px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.6;
}

.overlayMenu ul li a {
  -webkit-transition: 1.2s;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

@media only screen and (max-width: 991px) {
  /* Мобильное Меню Сайта */
  .menu-off {
    display: none;
  }
  .mobile-menu nav ul {
    display: block;
  }
  .navBurger {
    z-index: 999999;
    position: fixed;
    right: 27px;
    top: 20px;
    cursor: pointer;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: content-box;
    width: 30px;
    height: 27px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  .navBurger:after {
    z-index: 99999;
    content: "";
    position: absolute;
    background: #fff;
    height: 5px;
    width: 100%;
    right: 0;
    will-change: rotate;
    -webkit-box-shadow: 0px 0px 0px 3px #313131;
    box-shadow: 0px 0px 0px 3px #313131;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navBurger:before {
    z-index: 99999;
    content: "";
    position: absolute;
    background: #fff;
    height: 5px;
    width: 100%;
    right: 0;
    will-change: rotate;
    -webkit-box-shadow: 0px 0px 0px 3px #313131;
    box-shadow: 0px 0px 0px 3px #313131;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navBurger:after {
    bottom: -12px;
    width: 100%;
  }
  .navBurger.active {
    background: transparent;
    background-clip: content-box;
  }
  .navBurger.active:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 0;
    background: #000;
    width: 0%;
    -webkit-box-shadow: 0px 0px 0px 0px #313131;
    box-shadow: 0px 0px 0px 0px #313131;
  }
  .navBurger.active:after {
    bottom: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #000;
    width: 110%;
    height: 7px;
    -webkit-box-shadow: 0px 0px 0px 0px #313131;
    box-shadow: 0px 0px 0px 0px #313131;
  }
  .overlay {
    position: fixed;
    background: rgba(255, 255, 255, 0.95);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0);
    transform: scale(0);
    visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    z-index: 999;
  }
  .overlay.open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .overlay.open li {
    display: block;
    -webkit-animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
    animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
  }
  .overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  .overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
  .overlay.open li:nth-of-type(5) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  .overlayMenu {
    position: absolute;
    text-align: right;
    right: 10vw;
    top: 12vw;
  }
  .overlayMenu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%;
  }
  .overlayMenu ul li {
    display: block;
    position: relative;
    opacity: 0;
    width: 100%;
  }
  .overlayMenu ul li a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-size: 30px;
    padding: 10px 40px 10px 40px;
    margin: 5px 0;
    -webkit-transition: 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .overlayMenu ul li a:hover,
  .overlayMenu ul li a:active,
  .overlayMenu ul li a:focus {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
    padding-left: 80px;
    color: #2afd9a;
    background: rgba(255, 255, 255, 0.03);
  }
  .locked {
    overflow: hidden;
  }
  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 50px;
    }
    100% {
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 50px;
    }
    100% {
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  /* Конец стилей меню */
}

.header {
  background-color: rgba(49, 49, 49, 0.87);
  z-index: 22;
  position: fixed;
  width: 100%;
}

.header__boby {
  margin-bottom: 20px;
  margin-top: 30px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 70px;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fcfcff;
  z-index: 999999999;
}

#preloader img {
  max-height: 80%;
}

@media (max-width: 900px) {
  #preloader img {
    max-height: 50%;
  }
}

#preloader.hide-preloader {
  -webkit-animation: hidePreloader 1s;
          animation: hidePreloader 1s;
}

#preloader.preloader-hidden {
  display: none;
}

@-webkit-keyframes hidePreloader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hidePreloader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25vw;
}

.contacts-top {
  top: 6%;
  right: 3%;
  position: absolute;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts img {
  width: 30px;
}

.header__contacts a {
  color: #fff;
  font-size: 1.2rem;
  padding: 0px 8px;
}

.message__button {
  position: fixed;
  z-index: 9;
  font-size: 35px;
  height: 50px;
  bottom: 12%;
  right: 3%;
  opacity: .85;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation: pulse 2.0s infinite;
          animation: pulse 2.0s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #313131;
            box-shadow: 0 0 0 0 #313131;
  }
  75% {
    -webkit-box-shadow: 2px 1px 9px 15px rgba(34, 60, 80, 0.2);
    box-shadow: 2px 1px 9px 15px rgba(34, 60, 80, 0.2);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #313131;
            box-shadow: 0 0 0 0 #313131;
  }
  75% {
    -webkit-box-shadow: 2px 1px 9px 15px rgba(34, 60, 80, 0.2);
    box-shadow: 2px 1px 9px 15px rgba(34, 60, 80, 0.2);
  }
}

.button-fon {
  background-color: #313131;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid #e9e9e9;
  letter-spacing: 1px;
}

.button-fon:hover {
  background-color: #555555;
  color: #ffffff;
  border: 2px solid black;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
  font-size: 16px;
  letter-spacing: 2px;
}

.message__button:hover {
  opacity: 1;
}

@media only screen and (max-width: 991px) {
  .header__content {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 38vw;
    margin-top: 8px;
  }
  .header__contacts img {
    width: 20px;
  }
  .header__contacts a {
    font-size: 1rem;
    margin-top: 4px;
  }
  .header__contacts {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contacts-top {
    top: 0%;
    left: 0%;
  }
  .header__logo {
    margin-top: 40px;
  }
  .header__content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .logo {
    margin-top: 0px;
  }
  .button-fon {
    font-size: 13px;
    padding: 15px;
  }
  .button-fon:hover {
    font-size: 13px;
  }
  .button__pad {
    width: 39%;
  }
}

@media only screen and (max-width: 550px) {
  .logo {
    width: 70vw;
  }
  .header__contacts img {
    width: 25px;
    padding-top: 10px;
  }
  .header__logo {
    margin-top: 30px;
  }
}

.main {
  height: 100vh;
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .main {
    height: auto;
  }
}

.main__body {
  position: relative;
  min-width: 0;
  background-color: transparent;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.main__body::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.main__body {
  background: url("../img/video.png");
  background-size: cover;
}

.main__name {
  position: absolute;
  top: 15%;
  left: 6%;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 900;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.493);
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 1;
}

.main-link {
  color: rgba(255, 255, 255, 0.493) !important;
}

.main__name._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

._anim-items {
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

._anim-items._active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.bgvideo {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -9999;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.bgvideo_mob {
  display: none;
}

.main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: transparent;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.4em;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 2;
}

.main__title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5% auto 0px auto;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text_uppercase {
  text-transform: uppercase;
  font-size: 13px;
  padding-top: 0;
  margin-bottom: 0px;
}

.main__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.main__down:hover {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.main__down a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
}

.main__down img {
  width: 28px;
}

.hidden-wrap {
  opacity: 0;
}

.console-container {
  text-align: center;
  display: block;
  color: white;
}

.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

@media only screen and (max-width: 991px) {
  .main__name {
    font-size: 30px;
  }
  .main__name {
    position: absolute;
    margin: 50px auto 0px 30px;
    font-size: 24px;
    font-weight: 700;
  }
  .main__title {
    font-size: 30px;
  }
  .bgvideo {
    display: none;
    max-width: none;
  }
  .bgvideo_mob {
    display: block;
    width: 300%;
  }
  .main__name {
    top: 0px;
  }
}

@media only screen and (max-width: 756px) {
  .bgvideo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100%;
    z-index: -9999;
  }
  .main__down {
    display: none;
  }
  .main__body::before {
    z-index: 0;
  }
  .text_uppercase {
    font-size: 19px;
  }
  .main__title {
    font-size: 24px;
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 550px) {
  .main__title {
    font-size: 14px;
    margin-bottom: 70px;
  }
  .main__title-box h2 {
    margin-top: 0px;
  }
  .text_uppercase {
    font-size: 16px;
    margin-bottom: 12px;
  }
}

.info__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  color: #000;
}

.info__body::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.info {
  position: relative;
}

.info__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0px;
  padding-top: 0px;
  margin: 10px 40px 20px auto;
}

.info__title h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 38px;
  font-weight: 900;
  margin-bottom: 20px;
  line-height: 1em;
  letter-spacing: 1px;
}

.info__title h3 {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 700;
}

.info__title h4 {
  margin-top: 30px;
  font-size: 16px;
}

.info__title p {
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 30px;
}

.info__down img {
  width: 28px;
}

.info__down {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.info__down:hover {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.info__video {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 0px 0px;
  border-right: 2px solid rgba(0, 0, 0, 0.23);
  min-height: 98vh;
}

@media (max-width: 991px) {
  .info__video {
    min-height: auto;
    margin-top: 40px;
  }
}

.info__video-item {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.info__video-link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: url(../img/move.cur), pointer;
}

.info__video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 48px;
}

.thumb-wrap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.thumb-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

.button__main {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  height: 50px;
  width: auto;
  padding: 0 20px;
  border: 3px solid #000;
  border-radius: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  letter-spacing: normal;
}

.button {
  -webkit-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.button__main:hover {
  background-color: #555555;
  color: #fff;
}

.button__main:active {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 #161b13;
          box-shadow: 0 2px 0 #161b13;
}

@media only screen and (max-width: 991px) {
  .info__title {
    margin: 40px 40px 20px 20px;
    font-size: 50px;
  }
  .info__title h2 {
    font-size: 26px;
  }
}

@media only screen and (max-width: 756px) {
  .button__main {
    margin: 0 auto;
  }
  .info__title {
    width: 90vw;
    font-size: 48px;
    line-height: 1.5rem;
    color: #000;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 0;
    margin: 0 auto;
  }
  .info__title h2 {
    margin: 30px auto;
  }
  .info__body {
    min-height: auto;
    height: auto;
    padding-bottom: 30px;
  }
  .info__video-container {
    font-size: 24px;
  }
  .info__title h2 {
    font-size: 24px;
  }
  .info__title h3 {
    margin-top: 10px;
    font-size: 12px;
  }
  .info__title p {
    margin-top: 10px;
    font-size: 12px;
  }
  .info__down img {
    width: 28px;
    margin: 40px 20px;
  }
  .info__video {
    width: 90%;
    margin: 30px auto;
  }
}

@media only screen and (max-width: 550px) {
  .button__main {
    font-size: 14px;
    height: 40px;
  }
  .info__video {
    width: 100%;
    margin: 10vh auto 1vh auto;
  }
  .info__title h2 {
    font-size: 23px;
    line-height: 2.0rem;
    margin-top: 30px;
    margin-bottom: 25px;
    letter-spacing: 1px;
    color: #fff;
  }
  .info {
    background-color: #000;
  }
  .button__main {
    color: #fff !important;
    border: 3px solid #fff;
  }
  .button {
    -webkit-transition: background-color 0.5s ease 0s;
    transition: background-color 0.5s ease 0s;
  }
  .button__main:hover {
    background-color: #555555;
    color: #fff;
  }
  .button__main:active {
    top: 3px;
    -webkit-box-shadow: 0 2px 0 #161b13;
            box-shadow: 0 2px 0 #161b13;
  }
}

.features {
  background-color: #0a0a0a;
  padding-top: 50px;
  padding-bottom: 15px;
}

.features__content {
  width: 80%;
  margin: 0 auto;
}

.features__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  background-color: red;
}

.features__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 50px;
  border-radius: 10px;
  text-align: left;
}

.features__block-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  width: 35%;
  margin: 30px 20px 30px 6%;
  height: auto;
}

.features__block-name h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__block-title {
  color: #fff;
  width: 90%;
  text-indent: 10px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.3em;
  margin: 0 auto;
  text-indent: 0;
}

.features-slider {
  width: 98%;
}

.features-slider .swiper-button-prev::after,
.features-slider .swiper-button-next::after {
  color: rgba(0, 0, 0, 0.082);
  font-size: 50px;
}

.block {
  margin: 0px 0px 40px 0px;
}

.block__item {
  margin: 0px 0px 50px 0px;
  border-bottom: 3px solid #fff;
  border-left: 1px solid #3c3c3c;
}

.block__title {
  width: 100%;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 38px;
  font-weight: 700;
  background-color: transparent;
  color: #fff;
  padding: 10px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.block__title:hover {
  color: #ffe6b9;
  letter-spacing: 2px;
}

.block._init .block__title {
  cursor: pointer;
}

.block._init .block__title {
  padding: 10px 40px 10px 10px;
}

.block._init .block__title::before,
.block._init .block__title::after {
  content: "";
  width: 40px;
  height: 7px;
  background-color: #b0b0b0;
  position: absolute;
  right: 10px;
  top: 20px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.block._init .block__title::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.block._init .block__title._active::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.block__text {
  padding: 0 10px 10px;
  line-height: 130%;
}

@media (max-width: 1200px) {
  .features__block-title {
    font-size: 18px;
    line-height: 28px;
  }
  .features__block-name {
    font-size: 32px;
  }
}

@media (max-width: 960px) {
  .features__block-title {
    font-size: 16px;
    line-height: 24px;
  }
  .features__block-name {
    font-size: 28px;
    text-align: center;
  }
}

@media (max-width: 756px) {
  .features__block {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 10px;
    min-height: 0;
  }
  .features__block-img {
    width: 55%;
  }
  .features__block-title {
    font-size: 15px;
    width: 92%;
    line-height: 20px;
    text-align: justify;
    margin: 0 auto;
  }
  .features__block-name {
    width: auto;
    margin: 30px 20px 15px 20px;
  }
}

@media (max-width: 576px) {
  .features__block-img {
    width: 70%;
  }
  .features__block-img img {
    width: 70%;
  }
  .block__title {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
  }
  .block._init .block__title::before,
  .block._init .block__title::after {
    content: "";
    width: 30px;
    height: 4px;
    background-color: #b0b0b0;
    position: absolute;
    right: 10px;
    top: 31px;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }
  .features__content {
    width: 90%;
    margin: 0 auto;
  }
  .features__block-title {
    width: 100%;
  }
  .block__item {
    margin: 0px 0px 40px 0px;
  }
}

@media only screen and (max-width: 768px) {
  .contact__adress {
    width: 100%;
  }
  .contact__form {
    width: 100%;
  }
  .contact__form-1 {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .contact__form-content input {
    height: 30px;
  }
  .contact__form-content input {
    font-size: 12px;
  }
  .form__button {
    color: #fff;
    background-color: #000;
    font-size: 14px;
    height: 40px;
    width: 50%;
    margin: 0px auto;
  }
}

.footer {
  background-color: #f5f5f5;
  border-top: 3px solid #000;
}

.footer__container {
  min-height: auto;
}

.footer__content {
  background-color: #f4f4f4;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 58%;
  color: #000;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 0 0 60px;
  font-size: 57px;
  font-weight: bold;
  line-height: 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__info-title {
  margin: 20px;
}

.footer__widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 50px;
}

.title-heading {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 30px 0px 20px;
}

.title-main {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 1px;
  margin: 6px 30px 0px 20px;
}

.title__navigation-heading {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 30px 20px 20px;
}

.title__navigation-main {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 12px 30px 0px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.title__navigation-main:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hidden-wrap {
  opacity: 0;
}

.console-container-1 {
  text-align: left;
  display: block;
  color: #000;
}

.console-underscore-1 {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 0px;
}

@media only screen and (max-width: 991px) {
  .footer__widgets {
    width: 68%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 0;
    margin-left: 60px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 30px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-top: 20px;
  }
  .footer__info {
    width: 60%;
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  .footer__info {
    margin: 0 0 0 21px;
  }
  .footer__widgets {
    margin-left: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__social {
    width: 100%;
  }
  .footer__payment {
    width: 100%;
    margin-top: 0px;
  }
  .footer__payment-img {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@media only screen and (max-width: 550px) {
  .footer__info {
    width: 100%;
  }
  .footer__container {
    width: 100%;
  }
}

.stage {
  min-height: 98vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stage__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  margin: auto 0;
}

.stage__block {
  display: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.stage_block-gray {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: #f4f4f4;
}

.stage_block-pad {
  padding: 0;
  background-color: #fff;
}

.stage__videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  margin: 40px 0px 40px 0px;
}

.stage__videos_work {
  width: 85%;
  margin: 0 auto;
}

.stage__videos_mr {
  margin: 0;
}

.stage__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 48px;
}

.stage__video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font-size: 48px;
}

.stage__name {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 75px 50px 75px 130px;
  margin-top: 80px;
  margin-bottom: 73px;
  min-width: 39%;
  color: rgba(0, 0, 0, 0.6);
}

.stage__number {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.stage__title {
  font-size: 38px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 20px;
}

.stage__subtitle {
  font-size: 18px;
  line-height: 1.7rem;
}

.stage__subtitle p {
  margin-top: 12px;
  letter-spacing: 0.5px;
}

.stage__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1200px) {
  .stage__name {
    padding: 30px 50px 30px 83px;
  }
}

@media only screen and (max-width: 991px) {
  .stage {
    min-height: auto;
  }
  .stage__videos {
    width: 100%;
  }
  .stage__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 10px;
    padding-bottom: 0;
  }
  .stage__name {
    padding: 30px 50px 30px 30px;
    max-width: 100%;
    margin-bottom: 0;
    margin-top: 0;
  }
  .stage__subtitle {
    margin-bottom: 20px;
  }
  .stage__videos {
    margin: 20px 0px 0px 0px;
  }
}

@media only screen and (max-width: 550px) {
  .stage__subtitle {
    font-size: 14px;
    line-height: 1.3rem;
  }
  .stage__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .stage__title {
    font-size: 32px;
  }
  .stage__name {
    padding: 30px 10px 0px 20px;
  }
}

.breadcrumb {
  padding: 30px 10px;
  background-color: #f1f1f1;
}

.breadcrumb__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.breadcrumb__body ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.breadcrumb__body li {
  padding: 15px, 0px;
}

.breadcrumb__body ol > :not(:last-child)::after {
  content: '>';
  display: inline-block;
  vertical-align: top;
  opacity: 0.7;
  margin: 0 11px 0 8px;
}

/*Обнуление*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body.lock {
  overflow: hidden;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 10999999;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #f1f1f1;
  color: #000;
  max-width: 49%;
  min-height: 100vh;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(100%, 0px) rotateY(90deg);
          transform: perspective(600px) translate(100%, 0px) rotateY(90deg);
}

.popup__content_image {
  padding: 0;
}

.popup__image img {
  max-width: 100%;
  vertical-align: top;
}

.popup__close {
  position: absolute;
  right: 16px;
  top: 14px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.popup__title {
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0.5em 0px 0.5em 1.4em;
  letter-spacing: 1px;
}

.popup__subtitle {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 130%;
  margin: 0.5em 0px 1em 1.3em;
}

.button__pad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  width: 40%;
  margin: 10px auto;
  border: 3px solid #000;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0px 20px;
  text-transform: uppercase;
}

.button__pad:hover {
  background-color: #555555;
  color: #fff;
}

.button__pad:active {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 #161b13;
          box-shadow: 0 2px 0 #161b13;
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px 5px 30px 5px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tabs__content {
  display: none;
  margin-top: 20px;
}

.tabs__content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tabs__caption {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34%;
          flex: 0 1 34%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  border: 2px solid #000;
  padding: 10px 20px;
  border-radius: 3px;
  background: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  opacity: 0.8;
}

.border-color {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.border-color::before {
  content: "";
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #bfe2ff;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#838383), to(#000000)), -webkit-gradient(linear, left top, left bottom, from(#090b0c), to(#191a1b)), -webkit-gradient(linear, left top, left bottom, from(#000000), to(#131212)), -webkit-gradient(linear, left top, left bottom, from(#ae2424), to(#b83446));
  background-image: linear-gradient(#838383, #000000), linear-gradient(#090b0c, #191a1b), linear-gradient(#000000, #131212), linear-gradient(#ae2424, #b83446);
  -webkit-animation: anim-ramka-5 4s linear infinite;
          animation: anim-ramka-5 4s linear infinite;
  z-index: -2;
}

.border-color::after {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  width: calc(100% - 1px);
  height: calc(100% - 1.5px);
  background: #f1f1f1;
  border-radius: 2px;
  z-index: -2 !important;
}

.tabs__caption_activ e.border-color::after {
  background: red;
  display: none;
}

.tabs__caption:hover .border-color::after {
  background: #000000;
}

.tabs__caption:hover {
  background-color: #2c2c2c;
  color: #fff;
}

.tabs__caption_active {
  opacity: 1;
  background-color: #2c2c2c;
  color: #fff;
}

.contact__form-desr {
  width: 99%;
  margin-left: 0px;
}

.contact__form-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact {
  background-color: #f1f1f1;
  padding: 40px 20px;
}

.contact__inst {
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__inst-bottom a {
  margin: 15px auto;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 49%;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact__title {
  font-weight: 400;
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.contact__mail a {
  margin-top: 10px;
  color: #000;
}

.contact__tel {
  margin-top: 10px;
}

.contact__tel a {
  color: #000;
}

.contact__form-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.form__input {
  height: 40px;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 0px;
  border-bottom: 1px solid #000;
  border-radius: 0%;
  padding: 10px 10px;
  font-size: 16px;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.form__label {
  margin-bottom: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  margin-left: 22px;
}

.form__label-link {
  color: rgba(0, 0, 0, 0.487);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: underline;
  font-size: 16px;
  margin-left: 5px;
}

.form__label-link:hover {
  color: black;
  text-decoration: none;
}

.form__enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 93%;
  margin: 0 auto;
}

.form-message {
  resize: none;
  width: 100%;
  height: 20%;
  border: 1px solid transparent;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-radius: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  border-bottom: 1px solid #000;
  padding: 10px 10px;
  font-size: 16px;
  background-color: transparent;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.contact__form-content input:focus {
  border-radius: 0%;
  border: 1px solid #000;
}

.contact__form-content input:hover {
  border: 1px solid #000;
  border-radius: 0%;
}

.contact__form-content textarea:focus {
  border: 1px solid #000;
  border-radius: 0%;
}

.contact__form-content textarea:hover {
  border: 1px solid #000;
  border-radius: 0%;
}

.form__input._error {
  -webkit-box-shadow: 0 0 4px red;
          box-shadow: 0 0 4px red;
}

.form__body {
  position: relative;
}

.form__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(241, 241, 241, 0.2) url("../img/loading.gif") center/55px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service__title {
  text-align: center;
  font-size: 18px;
  margin: 18px auto;
  letter-spacing: 1px;
}

.service__goals {
  border-right: 2px solid rgba(0, 0, 0, 0.131);
  padding-right: 20px;
}

.service__tikets {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.service__bl {
  margin: 10px;
}

.service__item {
  margin: 5px 3px 5px 3px;
}

.service__packages {
  width: 100%;
}

.service__input {
  display: none;
}

.service__input:checked + .service__label {
  border: 2px solid #000;
  opacity: 1;
  padding: 2px 8px 2px 8px;
  -webkit-box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 3px 18px 0px rgba(0, 0, 0, 0.2);
}

.service__input:checked + .ramka-5::before {
  display: none;
}

.service__input:checked + .ramka-5::after {
  display: none;
}

.service__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 3px 9px 3px 9px;
  font-size: 16px;
  line-height: 140%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  border: 1px solid #f88989;
  border-radius: 3px;
  opacity: 0.6;
  cursor: pointer;
  width: 100%;
}

.service__label span {
  z-index: 3;
}

.ramka-5 {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.ramka-5::before {
  content: "";
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #bfe2ff;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#838383), to(#000000)), -webkit-gradient(linear, left top, left bottom, from(#090b0c), to(#191a1b)), -webkit-gradient(linear, left top, left bottom, from(#000000), to(#131212)), -webkit-gradient(linear, left top, left bottom, from(#ae2424), to(#b83446));
  background-image: linear-gradient(#838383, #000000), linear-gradient(#090b0c, #191a1b), linear-gradient(#000000, #131212), linear-gradient(#ae2424, #b83446);
  -webkit-animation: anim-ramka-5 4s linear infinite;
          animation: anim-ramka-5 4s linear infinite;
  z-index: -2;
}

.ramka-5::after {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  width: calc(100% - 1px);
  height: calc(100% - 1.5px);
  background: #f1f1f1;
  border-radius: 2px;
  z-index: 2 !important;
}

@-webkit-keyframes anim-ramka-5 {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes anim-ramka-5 {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@media only screen and (max-width: 991px) {
  .contact__form-desr {
    width: 100%;
  }
  .popup__content {
    max-width: 95%;
  }
}

@media only screen and (max-width: 768px) {
  .contact__form-desr {
    width: 100%;
  }
  .popup__content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .popup__close {
    right: 16px;
    top: 13px;
  }
  .popup__title {
    font-size: 18px;
    margin: 0.5em 0px 1em 0em;
  }
  .popup__subtitle {
    font-size: 14px;
    margin: 0.5em 0px 1em 0em;
  }
  .contact__form-desr {
    width: 90%;
  }
  .popup__button-block p {
    font-size: 12px;
  }
  .popup__content {
    max-width: 98%;
  }
  .button__pad {
    width: 63%;
    height: 40px;
    font-size: 12px;
  }
  .contact__form-content form {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 0px;
  }
  .contact__form-desr {
    width: 99%;
    margin-left: 0px;
  }
  .form__label {
    width: 90%;
    font-size: 14px;
    line-height: 120%;
    margin-left: 0;
  }
  .form__label-link {
    font-size: 12px;
  }
  .service__goals {
    padding-right: 7px;
  }
  .service__bl {
    margin: 3px;
  }
  .service__label {
    font-size: 12px;
  }
  .form__enter {
    width: 95%;
  }
  .form-message {
    font-size: 12px;
  }
  .tabs__caption {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 321px) {
  .form__enter {
    width: 99%;
  }
  .tabs__caption {
    padding: 10px;
  }
  .popup__subtitle {
    font-size: 15px;
  }
}

.order-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 93%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0px;
}

.order-page__text {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 700;
  color: black;
  margin: 30px 0px 0px 47px;
}

@media (max-width: 550px) {
  .order-page__text {
    margin: 17px 0px 0px 10px;
    font-size: 26px;
  }
}

.scheme-order__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 30px 0px 31px 40px;
}

@media (max-width: 991px) {
  .scheme-order__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 550px) {
  .scheme-order__blocks {
    margin: 10px 0px 10px 10px;
  }
}

.scheme-order__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24%;
          flex: 0 0 24%;
  position: relative;
}

.scheme-order__block::after {
  content: "";
  width: 32px;
  height: 187px;
  background: url("../img/union.svg");
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
}

.scheme-order__block:last-child::after {
  display: none;
}

.scheme-order__block:hover .scheme-order__text span {
  color: #000;
}

@media (max-width: 991px) {
  .scheme-order__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 30px;
  }
  .scheme-order__block::after {
    display: none;
  }
}

@media (max-width: 550px) {
  .scheme-order__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.scheme-order__text p {
  font-size: 80px;
  font-weight: 700;
}

.scheme-order__text span {
  color: #bdbdbd;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 991px) {
  .scheme-order__text {
    margin-right: 30px;
    width: 50px;
  }
  .scheme-order__text p {
    font-size: 50px;
    font-weight: 700;
  }
}

.scheme-order__subtitle {
  margin: 5px 0px 0px 0px;
  color: #000;
  font-size: 13px;
  line-height: 1.4em;
  width: 82%;
}

@media (max-width: 991px) {
  .scheme-order__subtitle {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 550px) {
  .scheme-order__subtitle {
    width: 100%;
  }
}

.scheme-order__subtitle_black {
  font-weight: 700;
}

.popup-cooperation {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 10999999;
}

.popup-cooperation.open {
  opacity: 1;
  visibility: visible;
}

.popup-cooperation.open .popup-cooperation__content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup-cooperation__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup-cooperation__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup-cooperation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #f1f1f1d8;
  color: #000;
  width: 70%;
  min-height: auto;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(100%, 0px) rotateY(90deg);
          transform: perspective(600px) translate(100%, 0px) rotateY(90deg);
}

@media (max-width: 991px) {
  .popup-cooperation__content {
    width: 80%;
  }
}

@media (max-width: 756px) {
  .popup-cooperation__content {
    width: 100%;
  }
}

.popup-cooperation__content_image {
  padding: 0;
}

.popup-cooperation__image img {
  max-width: 100%;
  vertical-align: top;
}

.popup-cooperation__close {
  position: absolute;
  right: 16px;
  top: 14px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

@media (max-width: 550px) {
  .popup-cooperation__close {
    right: 16px;
    top: 13px;
  }
}

.popup-cooperation__title {
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  margin: 0.5em 0px 0.5em 1.4em;
  letter-spacing: 1px;
}

@media (max-width: 550px) {
  .popup-cooperation__title {
    font-size: 14px;
    line-height: normal;
    width: 90%;
    margin-top: 20px;
  }
}

.popup-cooperation__subtitle {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 130%;
  margin: 0.5em 0px 1em 1.3em;
}

@media (max-width: 1100px) {
  .popup-cooperation__subtitle {
    margin: 0.5em 0px 0em 1.3em;
  }
}

@media (max-width: 550px) {
  .popup-cooperation__subtitle {
    font-size: 14px;
  }
}

.popup-cooperation__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px 5px 30px 5px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 1100px) {
  .tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.tabs-1__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 10px;
}

.tabs__items_cooperation {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: 160px;
}

@media (max-width: 1100px) {
  .tabs__items_cooperation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: auto;
  }
}

.tabs-1__body {
  width: 70%;
  height: 50%;
}

@media (max-width: 1100px) {
  .tabs-1__body {
    width: 90%;
    margin: 0 auto;
  }
}

.tabs-1__content {
  display: none;
  margin-top: 20px;
}

.tabs-1__content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs-1__caption {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 17%;
          flex: 0 1 17%;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  border: 2px solid #000;
  padding: 36px 20px;
  border-radius: 3px;
  background: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  opacity: 0.8;
  margin-top: 10px;
  text-align: center;
  line-height: normal;
}

@media (max-width: 1100px) {
  .tabs-1__caption {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }
}

@media (max-width: 991px) {
  .tabs-1__caption {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 18%;
            flex: 0 1 18%;
  }
}

@media (max-width: 756px) {
  .tabs-1__caption {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
    font-size: 12px;
    padding: 23px 13px;
  }
}

@media (max-width: 550px) {
  .tabs-1__caption {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
    font-size: 10px;
    padding: 13px 5px;
  }
}

.tabs-1__caption:hover {
  background-color: #2c2c2c;
  color: #fff;
}

.tabs-1__caption_active {
  opacity: 1;
  background-color: #2c2c2c;
  color: #fff;
}
